<section data-ng-controller="HomeController">
    <table ng-table="tableParams" class="table">
        <tr ng-repeat="item in $data">
            <td><img src="{{item.user.pic}}" style="width:auto;height:120px;"></td>
            <td data-title="'User'" sortable="'user.id'">
                <div><h5>{{item.user.id}}</h5></div>
            </td>
            <td ng-click="viewDates()" style="cursor:hand;cursor: pointer;" data-title="'Title'" sortable="'title'">
                <div><h5>{{item.title}}</h5></div>
                <div>{{item.pic}}</div>
                <img src="{{item.pic}}" style="width:190px;height:auto;">
            </td>
            <td data-title="'Location'" sortable="'location'">
                {{item.location}}
            </td>
            <td data-title="'Reviews'" sortable="'reviews'">
                <div style="white-space: nowrap;">{{item.reviews}} Reviews</div>
            </td>
            <td data-title="'Price'" sortable="'price'">
                <div style="white-space: nowrap;">{{item.price}}</div>
            </td>
        </tr>
    </table>
</section>
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Available Dates</h3>
    </div>
    <div class="modal-body">
        <table class="table">
            <tr ng-repeat="date in dates">
                <td>{{date.date}}</td>
                <td data-title="'Price'" sortable="'price'">
                    <div style="white-space: nowrap;">{{date.price_local}} {{date.local_currency}}</div>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">

    </div>
</script>
